.about1 {
  padding: 94px 0 70px 0;

  .wrapper {
    color: $white-text;
    margin-left: 15px;
    position: relative;

    &::after {
      content: "";
      background-image: url(../../images/vector1.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -100px;
      width: 142px;
      height: 100px;
      right: 84px;
    }

    .title {
      font-weight: 400;
      font-size: 5.2em;
      line-height: 1.48;
    }

    .subtitle {
      font-weight: 400;
      font-size: 1.8em;
      line-height: 1.48;
      margin-bottom: 15px;
    }

    .text {
      font-weight: 300;
      font-size: 1.2em;
      line-height: 1.47;
      margin-bottom: 50px;
    }

    .google {
      position: absolute;
      top: 150px;
      right: -20px;
      width: 120px;
      z-index: -11;
    }

    .youtobe {
      position: absolute;
      top: 300px;
      right: 190px;
      width: 231px;
      z-index: -11;
    }

    .instabig {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 130px;
      z-index: -11;
    }

    .group-icon {
      position: absolute;
      top: -126px;
      right: 10px;
      width: 247px;
      z-index: -11;
    }
  }
}
@media screen and (min-width: 768px) {
  .about1 {
    .wrapper {
      &::after {
        bottom: -100px;
        width: 142px;
        height: 100px;
        right: 351px;
      }

      .text {
        width: 450px;
      }

      .youtobe {
        top: 220px;
        right: 354px;
        width: 231px;
      }

      .google {
        top: 0px;
        right: 0px;
        width: 120px;
      }

      .group-icon {
        top: -41px;
        right: 25px;
        width: 420px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .about1 {
    padding: 55px 0 150px 0;

    .wrapper {
      max-width: 645px;

      &::after {
        bottom: -215px;
        width: 300px;
        height: 215px;
        right: 62px;
      }

      .title {
        font-size: 7em;
      }

      .subtitle {
        font-size: 3.2em;
        margin-bottom: 35px;
      }

      .text {
        font-size: 1.8em;
        margin-bottom: 35px;
      }

      .google {
        top: -114px;
        right: -150px;
        width: 233px;
      }

      .youtobe {
        top: 0px;
        right: 348px;
        width: 441px;
      }

      .instabig {
        bottom: 0;
        right: -198px;
        width: 300px;
      }

      .group-icon {
        top: -92px;
        right: -259px;
        width: 660px;
      }
    }
  }
}
