.about2 {
  padding: 40px 0 150px 0;
  background-image: url("../../images/bcmobile.png");
  background-repeat: no-repeat;
  background-size: contain;

  .wrapper {
    color: $white-text;
    text-align: right;
    position: relative;
    &::before {
      content: url("../../images/arrow2.png");
      position: absolute;
      bottom: -150px;
      left: 43px;
      width: 100px;
      height: 150px;
    }

    .title {
      font-weight: 400;
      font-size: 1.8em;
      line-height: 1.48;
      margin-bottom: 15px;
    }
    .text {
      font-weight: 300;
      font-size: 1.2em;
      line-height: 1.47;
      margin-bottom: 50px;
    }

    .message1,
    .message2,
    .message3 {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .about2 {
    padding: 60px 0 150px 0;
    background-image: url("../../images/bcdesktop.png");
    background-size: cover;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      &::before {
        bottom: -150px;
        left: 314px;
        width: 100px;
        height: 150px;
      }
      .title {
        width: 60%;
      }

      .text {
        width: 60%;
      }

      .message1 {
        display: block;
        position: absolute;
        top: -50px;
        left: 100px;
        width: 190px;
      }

      .message2 {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 247px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .about2 {
    padding: 100px 0 115px 0;
    background-image: url("../../images/bcdesktop.png");

    .wrapper {
      &::before {
        bottom: -150px;
        left: 314px;
        width: 100px;
        height: 150px;
      }
      .title {
        width: 85%;
        font-size: 3.2em;
        margin-bottom: 35px;
      }

      .text {
        width: 83%;
        font-size: 1.8em;
        margin-bottom: 35px;
      }

      .message1 {
        top: -140px;
        left: 0px;
        width: 230px;
      }

      .message2 {
        bottom: -45px;
        left: -215px;
        width: 310px;
      }

      .message3 {
        display: block;
        position: absolute;
        bottom: 170px;
        left: -285px;
        width: 300px;
      }
    }
  }
}
