*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
    180deg,
    rgba(249, 236, 105, 0.8) 0%,
    rgba(240, 138, 93, 0.8) 41.55%,
    rgba(184, 59, 94, 0.8) 68.75%,
    rgba(106, 44, 112, 0.8) 100%
  );
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.invisible {
  display: none;
}
